* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content_autocapture {
  overflow: hidden;
  position: relative;
  width: 100dvw;
  height: 100dvh;
  background: #000;
  display: grid;
  place-content: center;
}